.Film {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imageDiv {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}
.MainInfo {
    display:  flex;
    width: 80vw;
    
}
.Short div  {
    padding: 20px 0px; 
}

.Short {
    padding: 0px;
}
.About {
    padding: 0 30px;
    width: 80vw;
}
.Info div {
    border: 1px solid gray;
    
}
.loading {
    margin: 0 auto;
    max-width: 600px;
    text-align: center;
}
.loading h1 {
    margin: 2rem 0 3rem 0;
}