.Film {
    max-width: 1000px;
    width: 80%;
    margin: 0 auto;
}
.imageDiv {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Info {
    width: 100%;
}
.MainInfo {
    display:  flex;
    flex-direction: column;
    gap: 1.5em;
    padding-top: 1em;
}
.Short div  {
    padding: 1em; 
}

.Short {
    padding: 0px;
}
.About p:first-child{
    font-weight: bold;
}
.Info div {
    border: 1px solid gray;
    
}
.loading {
    margin: 0 auto;
    max-width: 600px;
    text-align: center;
}
.loading h1 {
    margin: 2rem 0 3rem 0;
}

@media screen and (min-width: 700px){
    .MainInfo {
        flex-direction: row;
    }
    
}