.filmCard {
    display: inline-block;
    background-color: rgb(62, 58, 58);
    padding: 10px;
    text-align: center;
    position: relative;
    color: white;
}
.filmCard > h2 {
    color: white;
}
.filmCard img {
    width: 150px;
}
.filmCard button {
    padding: 0.5em 2em;
    border: 0;
    color: black;
}

.list {
    display: grid;
    width: 90%;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}

h1 {
    margin: 5px auto;
    text-align: center;
}